version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12.16.3
    working_directory: ~/circleci-vue1
    steps:
    - checkout
    - run:
         name: 最初の一歩
         command: |
           echo 'Hello World!'
           echo 'This is the delivery pipeline'
    - run:
        name: run example test
        command: npx vue-cli-service test:unit example.spec.js