version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12.16.3
    steps:
    - checkout
    - run: npm install
    - run:
         name: 最初の一歩
         command: |
           echo 'Hello World!'
           echo 'This is the delivery pipeline'
    - run:
         name: test1
         command: |
           echo 'test1'
           pwd
           ls
    - run:
        name: run example test
        # working_directory: ~/circleci-vue1
        command: cd ~/project | npx vue-cli-service test:unit example.spec.js