version: 2
jobs:
  build:
    filters:
      branches:
        only: develop
    docker:
      - image: circleci/node:12.16.3
    steps:
    - checkout
    - run: npm install
    - run:
        name: run example test
        # working_directory: ~/circleci-vue1
        # command: npx vue-cli-service test:unit example.spec.js
        command: npx vue-cli-service test:unit HelloCircleCI.vue.spec.js